::selection {
  background: $orangeColor;
  color: $whiteColor;
  text-shadow: none;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $blackColor;
}

img {
  max-width: none;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: $blackColor;
  transition: 0.3s ease-in-out color;

  &:hover {
    text-decoration: none;
    color: lighten($blackColor, 30%);
  }
}

hr {
  margin: 0;
  border-color: $borderColor;
}

.hide {
  display: none !important;
}

.hide-mob {
  @media screen and (max-width: $mobileWidth) {
    display: none !important;
  }
}

.mainlogo {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  &__text {
    font-size: 24px;

    @media screen and (max-width: $mobileWidth) {
      font-size: 18px;
    }
  }
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-gap: 30px;
  justify-content: space-between;
}

.button-cart {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  color: white;
  background: $orangeColor;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

.button-cart span {
  margin-left: 10px;
}

.popup-other {
  background: $whiteColor;
  border: 1px solid $borderColor;
  box-sizing: border-box;
  box-shadow: 0px 2px 8px rgba(25, 25, 25, 0.1);
  border-radius: 12px;
  pointer-events: all;
  padding: 5px 20px;
  --uk-position-offset: 30px;
}

@media screen and (max-width: $mobileWidth) {
  .content {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  #arrowdownsvg {
    display: none;
  }

  .sticky__cart {
    display: none;
  }
}
