@font-face {
    font-family: "SF Pro text";
    src: url("../fonts/SF-Pro-Text-Light.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "SF Pro text";
    src: url("../fonts/SF-Pro-Text-Bold.otf") format("truetype");
    font-style: normal;
    font-weight: bold;
    font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');