.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  @include font-sf-pro-text();
  font-size: 16px;

  padding: 8px 16px;

  color: white;
  background: $orangeColor;

  border: 1px solid transparent;
  border-radius: 6px;

  transition: 0.3s ease-in-out;
  transition-property: opacity, background-color, color, border-color;

  cursor: pointer;

  &:hover {
    background-color: $whiteColor;
    color: $blackColor;
    border-color: $orangeColor;
  }

  &--border {
    color: #000;
    background: $whiteColor;

    border: 1px solid #f9f9f9;

    &-focus {
      color: $whiteColor;
      background: $orangeColor;

      border: 1px solid $orangeColor;

      &:hover,
      &:active {
        color: $whiteColor;
        background: $orangeColor;

        border: 1px solid $orangeColor;
      }
    }

    &:hover {
      border: 1px solid $orangeColor;
    }
  }

  &--no-border {
    border: 1px solid transparent;

    &:hover {
      border-color: none;
    }
  }

  &--no-bg {
    color: $blackColor;
    background-color: transparent;

    &:hover {
      color: $blackColor;
      background-color: transparent;
    }
  }

  &--burger {
    background-color: $whiteColor;

    &:hover {
      background-color: transparent;
    }
  }

  &--select {
    padding: 13px 32px;
    background-color: $orangeColor;

    &:hover {
      background-color: $whiteColor;
      color: $orangeColor;
    }
  }

  &-modal {
    &-close {
      position: absolute;
      top: 0;
      right: -4rem;
      background: none;
      color: initial;
      border: none;

      path {
        fill: $whiteColor;
      }

      &:hover {
        color: inherit;
        background: none;
        border: none;
      }
    }
  }
}
