.advertising {
  nav {
    overflow-y: hidden;
    scroll-behavior: smooth;
    position: relative;

    .advertising__content {
      display: flex;
      gap: 30px;
      justify-content: space-between;
      padding: 0;

      .advertising__card {
        display: grid;
        grid-template-rows: 75% 25%;
        background: $orangeColor;
        border-radius: 12px;
        width: 300px;
        height: 343px;
        overflow: hidden;
        text-decoration: none;

        h3 {
          padding: 20px;
          padding-right: 40px;
          color: $whiteColor;
          align-self: end;
          margin: 0;
        }

        &__red {
          background: #e23535;
          align-items: center;
        }
      }
    }
  }
}

@media screen and (max-width: $tabletWidth) {
  .advertising {
    .advertising__content {
      gap: 20px;

      .advertising__card {
        width: 280px;
        height: 320px;
        margin: 0;
      }
    }
  }
}
