.header {
  position: sticky;
  top: var(--header-offset-top);

  background: $whiteColor;
  border-bottom: 1px solid $borderColor;
  
  z-index: 5;

  &__up,
  &__down {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 14px;

    padding: 11px 0;

    background: $whiteColor;
  }

  &__panel {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__block {
    display: inline-flex;
    align-items: center;
    gap: 5px;
  }
}


@media screen and (max-width: $tabletWidth) {
  .header {
    &__up,
    &__down {
      font-size: 12px;
    }

    &__panel {
      &--between {
        width: 100%;
        justify-content: space-between;
      }
    }
  }
}
