.modal-detail-item {
  /*position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/

  &__wrap {
    position: relative;
    display: flex;
    gap: 13px;
    border-radius: 24px;
    width: 100%;
    background-color: $whiteColor;
    padding: 1rem;
  }

  &__line {
    display: none;
    position: absolute;
    top: -22px;
    left: 25%;
    width: 50%;
    height: 5px;
    background: #f5f5f5;
    opacity: 0.6;
    border-radius: 100px;
  }

  &__leftpanel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    flex: 1 0 auto;
    padding: 2rem;

    img {
      width: 100%;
    }
  }

  &__rightpanel {
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow: hidden;

    .ingredient__block {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      max-width: 105px;
      height: fit-content;
      gap: 0.3125rem;

      img {
        width: 40px;
        height: 40px;
      }

      &__title {
        font-size: 0.875rem;
        line-height: 1;
        text-align: center;
        transition: opacity 0.3s ease-in-out;
      }

      &__button {
        position: relative;
        border-radius: 12px;
        padding: 30px;
        background: $whiteColor;
        border: 1px solid $borderColor;

        &:hover {
          border: 1px solid $orangeColor;
        }

        svg {
          max-width: none;
          height: fit-content;
          width: fit-content;
        }

        &.inactive,
        &.added {
          &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 0.625rem;
            height: 0.625rem;
            background-position: center;
            background-size: 35%;
            background-repeat: no-repeat;
            border: 1px solid;
            border-radius: 50%;
            margin: 0.5rem;
            padding: 0.1875rem;
          }

          &.inactive {
            opacity: 0.5;

            & + span {
              opacity: 0.5;
            }

            svg path {
              fill: gray;
            }

            &::after {
              background-image: url("../../img/svg/Cross.svg");
              border-color: #a5a5a5;
            }
          }
        }

        &.added {
          border-color: $orangeColor;

          &::after {
            border: none;
            background-image: url("../../img/svg/Done.svg");
            background-size: contain;
          }
        }
      }
    }

    .rightpanel {
      &__header {
        display: flex;
        gap: 11px;
        align-items: center;

        img:last-child {
          margin-left: auto;
          width: 24px;
          height: 24px;
        }

        h4 {
          margin: 0;
          font-weight: 600;
        }
      }

      &__ingredients {
        display: flex;
        gap: 20px;
        overflow: auto hidden;
        padding: 0 0 0.625rem 0;
      }

      &__dough {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 16px;

        .dough {
          &__type {
            display: block;
          }

          &__size {
            display: flex;

            button {
              width: 33.333%;
            }
          }
        }
      }

      &__topping {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .topping {
          &__title {
            @include font-inter;
            font-weight: 600;
          }

          &__list {
            display: flex;
            gap: 20px;
            overflow: auto hidden;
            padding: 0 0 0.625rem 0;
          }
        }
      }

      &__price {
        display: flex;
        align-items: flex-end;
        gap: 12px;

        .price__total {
          display: flex;
          gap: 13px;
          align-items: flex-end;

          .price__price {
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;
            color: $orangeColor;
          }

          .price__gramms {
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
          }
        }

        button {
          margin-left: auto;
        }
      }
    }
  }

  .border-select {
    border: 1px solid $orangeColor;

    &::after {
      content: url(../../img/svg/Done.svg);
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
    }
  }
}

@media screen and (max-width: $tabletWidth) {
  .modal-detail-item {
    position: static;
    transform: none;
    overflow: auto;

    &__wrap {
      flex-direction: column;
    }

    &__leftpanel {
      width: 100%;
    }
  }
  #modal-menu {
    padding: 20% 0 0 0;
  }

  .modal__line {
    display: block;
  }

  .modal__leftpanel {
    width: 100%;
  }

  .modal-menu {
    flex-direction: column;
    border-radius: 16px 16px 0px 0px;

    .uk-modal-close-default {
      display: none;
    }
  }

  .modal__rightpanel {
    .rightpanel__header {
      align-items: flex-end;

      h4 {
        font-size: 18px;
        line-height: 22px;
      }
    }
    .rightpanel__ingredients {
      overflow: scroll;
      img {
        max-width: none;
      }
    }
    .rightpanel__topping {
      overflow: scroll;
      img {
        max-width: none;
      }
    }
    .rightpanel__price {
      .price__total {
        flex-direction: column;
        gap: 0;
        align-items: flex-start;
      }
    }
  }
}
